@charset "utf-8";

body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

mark {
    color: #000;
    background: #ff0
}

small {
    font-size: 80%
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

/*左侧导航栏*/
.down-min {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.left-full {
    width: 160px;
    display: block;
}

.right-full {
    left: 160px;
}

.left-off {
    width: 48px;
    display: block;
}

.right-off {
    left: 48px;
}

.right-product {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #FFF;
}

.sidebar-fold {
    height: 30px;
    width: 100%;
    background: #394555;
    color: #aeb9c2;
    text-align: center;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
}

.sidebar-fold span {
    line-height: 30px;
}


.sidebar-left {
    bottom: 0px;
    top: 0px;
    z-index: 100;
    position: fixed;
    background-color: #293038;
}

.sidebar-nav ul li {
    list-style-type: none;
    position: relative;
}

.sidebar-nav ul {
    padding: 0px;
    position: relative;
    margin: 0px;
}

.sidebar-nav ul li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
}

.sidebar-nav .sublist-icon {
    width: 48px;
    text-align: center;
}

.sidebar-nav .sidebar-title {
    position: relative;
    height: 40px;
    line-height: 40px;
    color: #fff;
    transition: all .2s;
}

.sidebar-nav .sidebar-title .title-icon {
    width: 48px;
    text-align: center;
    transition: transform .3s;
}

.sidebar-nav.nav-show .title-icon{
  transform: rotate(90deg);
}
.sidebar-nav .sidebar-title{
  background-color: #37424f;
}
.sidebar-nav.nav-show .sidebar-title{
  background-color: #22282e;
}

.sidebar-nav ul.m-nav-list {
    display: none;
}
.sidebar-nav.nav-show ul.m-nav-list {
  display: block;
}

.sidebar-nav .sublist-title {
    cursor: pointer;
    font-size: 12px;
}

.sidebar-nav .sidebar-title:hover,.sidebar-nav ul li:hover {
    background-color: #42515f;
}

.sidebar-nav span {
    line-height: 36px;
}

/* tips 提示 */
.tip-show {
    text-align: center;
    line-height: 40px;
    position: absolute;
    z-index: 100;
    background-color: #545f71;
    left: 55px;
    padding: 0px 10px 0px 10px;
    color: #FFF;
    min-width: 50px;
    /* width: 100%; */
    white-space: nowrap;
    transition: all .2s;
    display: none;
}
.tip-titlt{
  position: relative;
}
.tip-titlt .tip-icon{
  position: absolute;
  top: 8px;
  left: -15px;
  font-size: 22px;
  color: #545f71
}

.left-off .sidebar-nav ul li .sub-title {
    display: none;
}

.left-off .sidebar-nav .sublist-title {
    display: none;
}

/*左侧导航选中样式*/
.sidebar-nav ul .active {
    background-color: #09C;
}

/* 显示tips */
.sidebar-left.left-off .sidebar-title:hover .tip-show,
.sidebar-left.left-off .sidebar-nav ul li:hover .tip-show{
  display: block;
}
